*{
    color: white;
    margin: 0%;
}

/* this  is the main container */

#main{
    height: 100vh;
    width: 100%;
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  this is the outer box  */


#outer{
    height: 500px;
    width: 80%;
    border-radius: 2px;
    border: 0.5px solid white;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

/*  this is the inner box  */
#inner{
    height: 300px;
    width: 70%;
    display: flex;
    align-items: center;


}

/*  this is the image  */
#image{
    height: 300px;
    width: 250px;
    border-radius: 2px;
    border: 2px solid #00E5FF ;
    background-color: blue;
    background-image: url(Image/new\ outerlogo.jpeg);
    background-size: cover;
}

/*  this is the text box  */
.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*  this is the name, work and link  */
#name{
    font-size: 50px;
    align-items: center;
    position: relative;
    bottom: 100px;
    left: 20px;
}

/*  this is the work  */
#work {
    font-size: 20px;
    position: relative;
    bottom: 90px;
    left: 20px;
}


/* this is the link  */
#link{
    font-size: 30px;
    position: relative;
    left: 20px;
   
}

/*  this is A link  */
a{
     text-decoration: none;
    color: #00E5FF;
}
/*  this is A link animation  */
@keyframes textColor{
    from{color:  #00E5FF;}
    to {color:  red;}
}

a:hover{
      animation:  textColor 1s 0s ease-in infinite;
}


/*  start of media query  */

@media (max-width: 480px) {
     #outer {
    height: 100%;
    width: 80%;
    border-radius: 2px;
    border: 0.5px solid white;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
}


#inner {
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
}


#image {
    height: 280px;
    width: 600px;
    position: relative;
    bottom: 200px;
    left: 30px;
    border-radius: 2px;
    border: 2px solid #00E5FF;
    background-color: blue;
    background-size: cover;
    padding-right: 200px;
}

.text-box {
    display: flex;
    justify-content: center;
    position: relative;
    top: 160px;
    height: 400px;
    width: 100%;
    right: 180px;
}

#name {
        position: relative;
        top: 1px;
        font-size: 40px;
    }


#work {
    font-size: 20px;
    position: relative;
    top: 10px;
    right: 70px;
}

#link {
    font-size: 40px;
    position: relative;
    top: 20px;
    right: 180px;
}
}