*{
    color: white;
    margin: 0%;
}

#main{
    height: 100vh;
    width: 100vw;
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
}

#outer{
    height: 100px;
    width: 80vw;
    border-radius: 2px;
    border: 0.5px solid white;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#inner{
    height: 80px;
    width: 60vw;
    display: flex;
    align-items: center;


}
#image{
    height: 62px;
    width: 50px;
    border-radius: 2px;
    border: 2px solid #00E5FF ;
    background-color: blue;
    background-image: url(Image/outere\ logo.jpg);
    background-size: cover;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#name{
    font-size: 10px;
    align-items: center;
    position: relative;
    bottom: 15px;
    left: 5px;
}

#work {
    font-size: 5px;
    position: relative;
    bottom: 15px;
    left: 5px;
}

#link{
    font-size: 9px;
    position: relative;
    left: 5px;
   
}
a{
     text-decoration: none;
    color: #00E5FF;
}

@keyframes textColor{
    from{color:  #00E5FF;}
    to {color:  red;}
}

a:hover{
      animation:  textColor 1s 0s ease-in infinite;
}