*{
    color: white;
    margin: 0%;
}

@keyframes shootingstar {
    to{transform: translate(300px,800px)}
}

#star1{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    box-shadow: 0 0 10px white, 0 0 20px white;
    background-color: white;
    position: relative;
    top: 1px;
    animation:shootingstar 1.5s 1s linear infinite;
}

@keyframes shootingstar1 {
    to{transform: translate(300px,800px)}
}
#star2{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    box-shadow: 0 0 10px white, 0 0 20px white;
    background-color: white;
    position: relative;
    top: 5px;
    left: 200px;
    animation:shootingstar1 1.5s 6s linear infinite;
}

@keyframes shootingstar2 {
    to{transform: translate(300px,800px)}
}

#star3{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    box-shadow: 0 0 10px white, 0 0 20px white;
    background-color: white;
    position: relative;
    top: 2px;
    left: 600px;
    animation:shootingstar2 1.5s 4s linear infinite;
}

@keyframes shootingstar3 {
    to{transform: translate(300px,800px)}
}
#star4{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    box-shadow: 0 0 10px white, 0 0 20px white;
    background-color: white;
    position: relative;
    top: -1px;
    left: 1100px;
    animation:shootingstar 1.5s 2s linear infinite;
}




/* this  is the main container */

#main{
    height: 100vh;
    width: 100%;
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
}


#Mode{
    position: relative;
    bottom:350px;
    right: 40px;
    color: white;
    background-color: rebeccapurple;
    
}


/*  this is the outer box  */


#outer{
    height: 500px;
    width: 80%;
    border-radius: 2px;
  
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Image/file_00000000d5f871fa9829c1c8d297de5d.png);
    background-size: cover;
   
}

/*  this is the inner box  */
#inner{
    height: 300px;
    width: 70%;
    display: flex;
    align-items: center;


}

/*  this is the image  */
#image{
    height: 300px;
    width: 250px;
    border-radius: 2px;
   
    background-color: blue;
    background-image: url(Image/IMG_20251208_215721.jpg);
    background-size: cover;
}

/*  this is the text box  */
.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*  this is the name, work and link  */
#name{
    font-size: 50px;
    align-items: center;
    position: relative;
    bottom: 100px;
    left: 20px;
}

/*  this is the work  */
#work {
    font-size: 20px;
    position: relative;
    bottom: 90px;
    left: 20px;
}


/* this is the link  */
#link{
    font-size: 20px;
    position: relative;
    left: 20px;
    height: 30px;
    width: 180px;
    border-radius: 3px;
    background-color: #00E5FF;
    text-align: center;

   
}

/*  this is A link  */
a{
     text-decoration: none;
    color: black;
}
/*  this is A link animation  */
@keyframes textColor{
    from{color:  #00E5FF;}
    to {color:  red;}
}

a:hover{
      animation:  textColor 1s 0s ease-in infinite;
}



/*  start of media query  */

@media (max-width: 480px) {
    html, body {
    overflow: hidden;
}
#outer {
    overflow: hidden;
}
#Mode {
       display: none;
    }

    
#outer {
    height: 100%;
    width: 80%;
    border-radius: 2px;
    border: 0.5px solid white;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
}


#inner {
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
}


#image {
    height: 280px;
    width: 600px;
    position: relative;
    bottom: 200px;
    left: 30px;
    border-radius: 2px;
    border: 2px solid #00E5FF;
    background-color: blue;
    background-size: cover;
    padding-right: 200px;
}

.text-box {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    height: 400px;
    width: 100%;
    right: 180px;
}

#name {
        position: relative;
        top: 1px;
        font-size: 40px;
    }


#work {
    font-size: 20px;
    position: relative;
    top: 10px;
    right: 70px;
}

#link {
    font-size: 20px;
    position: relative;
    top: 20px;
    right: 180px;
    height: 50px;
    width: 170px;
    
}
}